/*start by mj*/
.user{
    height: 160px;
}

.user img{
    width: 60px;/*元素的宽度*/
    height:60px;/*元素的高度*/
    position: absolute;
    left: 50%;/*配合margin-left的负值实现水平居中*/
    margin-left: -30px;/*值的大小等于元素宽度的一半*/
    top:50%;/*配合margin-top的负值实现垂直居中*/
    margin-top: -40px;/*值的大小等于元素高度的一半*/
    /*-webkit-border-radius: 30px;-moz-border-radius: 30px;*/
    border-radius: 30px;
    border:1px solid;
    box-shadow:0px 0px 10px 2px #000;
}

.user div{
    margin-top:100px;
    width:240px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.user_list ion-item{
    background-image: inherit;
    background-color: transparent;
    background-size: cover;
    border-color: #A0522D;
}

ion-item.click_bg:focus{
    background-color: #0099FF;
}

.user_list ion-item a{
    color: #ffffff;
}

.bg_img_inherit{
    background-image: inherit;
}

.bg_col_trans{
    background-color: transparent;
}

.height_160p{
    height: 160px;
}

.left_div {
    float:left;
    width:45%;
    height:134px;
    margin:0% 1% 2% 3%;
}

.right_div{
    float:left;
    width:45%;
    height:134px;
    margin:0% 1% 2% 3%;
}

.left_div_2 {
    float:left;
    width:45%;
    height:134px;
    margin:4% 1% 0% 3%;
}

.border_lightgray{
    border:1px solid lightgray;
}

.width_100{
    width:100%;
}

.width_80{
    width:80%;
}

.width_37{
    width:37%;
}

.width_46{
    width:46%;
}

.height_100{
    height:100%;
}

.height_80{
    height:80%;
}

.height-15{
    height:15%;
}

.height_20{
    height:20%;
}

.height_28{
    height:28%;
}

.height_37{
    height: 37%;
}

.height_144p{
    height: 134px;
}

.line-height_180{
    line-height: 230%;
}

.bg_ffffff{
    background: #ffffff;
}

.margin_left_7p{
    margin-left:7px;
}

.margin_10{
    margin:10px;
}

.margin_top_10p{
    margin-top: 10px;
}

.margin_top_5p{
    margin-top: 5px;
}

.margin_bottom_20p{
    margin-bottom: 20px;
}

.margin_left_5p{
    margin-left: 5px;
}

.margin_left_10p{
    margin-left: 10px;
}

.border_bottom_lightgray{
    border-bottom: 1px solid lightgray;
}

.padding_5p{
    padding:5px;
}

.padding_top_5p{
    padding-top:5px;
}

.padding-left_5p{
    padding-left: 5px;
}

.bgcolor_none{
    background-color:transparent;
}

.detail_head{
    margin-top: 10%;
    color:#ffffff;
    font-size: medium;
}

.detail_order{
    font-size: medium;
}
.detail_order div{
    margin:20px;
}

.detail_head div{
    margin:20px;
}

.width_6 {
    width: 6%;
}

.bg_size_cover{
    background-size: cover;
}

.bg_position_center{
    background-position: center;
}

.clear_both{
    clear: both;
}

.item_bg ion-item{
    background-color: #dddddd;

}
.item_border ion-item{
    border: hidden;
    border-bottom: 1px solid #cacaca;
}

.item_padding ion-item{
    padding: 0px;
}
.item_margin ion-item{
    margin: 0px;
}
.scroll_height > .scroll{
    height: 100%;
}
.div_border > div{
    border-bottom: 1px solid #dddddd;
}

/*end by mj*/





.user-info{
    text-align: center;
    height:100px;
    margin:20px 0;
    text-decoration: none;
}

.user-info > img {
    width: 80px;/*元素的宽度*/
    height:80px;/*元素的高度*/
    /*-webkit-border-radius: 30px;-moz-border-radius: 30px;*/
    border-radius: 40px;
    border:1px solid #FFFFFF;
}

.user-info > h1 {
    font-size: 14px;
    font-weight: 100;
    margin:0;
}

.menu-list > a{
    background-color: transparent;
    color:#FFFFFF;
    font-weight: bold;
    padding:12px;
    border-color: #8A6343;
}

.ui-square{
    width:49.5%; float: left; padding:5px;
}

.ui-square > img{
    border:2px solid #cccccc;
    width: 100%;
    height: 100%;
}

.ui-square > .title{
    position:relative;
    height:30px;
    background-color: #ffffff;
    line-height: 30px;
    top: -39px;
    margin: 2px;
    padding: 0 5px;
    color: #000000;
}

.ui-square > .box{
    border: 1px solid #cccccc; width:100%; height: 100%;
}

.ui-square > .box > .title{
    height:30px; line-height: 30px; padding:0 10px;
}

.ui-square > .box  > a{
    width:50%;
    height: 100%;
    display: block;
    float: left;
    position: relative;
    top:-30px;
    z-index: 0;
    padding-top:30px;
}

.ui-square > .box > a > img{
    width: 100%;
    height: 100%;
}

.ui-footer-bar{
    width:100%;position: absolute; background-color: transparent; padding:20px 20px; bottom:0;
}

.ui-list{
 display: block;
}

.ui-list > .ui-item{
    display: block;
    height:40px;
    line-height:40px;
}

.ui-list > .ui-item > .ui-content{
    height:100%;
    width: 100%;
    padding:0 10px;
    background-color: #ffffff;
}

.ui-list > .ui-item > .ui-options{
    width:100%;
    text-align: right;
    position: absolute;
    top:0;
    z-index:-1;
    background-color: #007aff;
}

.ui-list > .ui-item > .ui-options > ui-button{
    height:100%;
    display: inline-block;
    background-color: #8A6343;
    padding:0 10px;
}

.black{
    color: #000;
}
.item p.black{
    color: #000;
}

.sidemenu_bg{
    background-image: url(../images/sidemenu_bg.png)
}

.detail_pic1{
    float: right;
    width:60%;
    height:60%;
    margin:3% 2% 0% 3%;
}

.detail_pic2{
    float: left;
    width:30%;
    height:29%;
    margin:3% 2% 0% 2%;
}

.detail_pic3{
    float: right;
    width:60%;
    height:33%;
    margin:4% 2% 0% 2%;
}

.detail_pic4{
    float: left;
    width:28%;
    height:25%;
    margin:2% 2% 0% 3%;
}

.detail_pic5{
    float: left;
    width:28%;
    height:25%;
    margin:2% 2% 0% 2%;
}

.detail_pic6{
    float: left;
    width:30%;
    height:25%;
    margin:2% 2% 0% 2%;
}

.detail_pic_name{
    margin-top: -25px;
    height:25px;
    line-height:25px;
    text-align: center;
    background-color: #000000;
    opacity:1;
    color: #ffffff;"
}

.overflow_hidden{
    overflow: hidden;
}


/*
* jack 20150304
*/
.width-100{
    width:100%;
}
.border-none{
    border:none;
}
.margin-top-35 {
    margin-top: 35%;
}
.margin-top-40 {
    margin-top: 40%;
}
.margin-top-50 {
    margin-top: 50%;
}
.margin-top-80{
    margin-top: 80%;
}
.margin-top-60{
    margin-top: 90%;
}
.margin-left-5{
    margin-left: 5%;
}
.width-82p{
    width:82px;
}
.margin-top-0p{
    margin-top: 0px !important;
}
.margin-bottom-0p{
    margin-bottom:0px !important;
}
.margin-top-20p{
    margin-top: 20px;
}
.margin-top-10{
    margin-top: 10%;
}
.margin-left-35{
    margin-left: 35%;
}
.margin-left-38{
     margin-left: 38%;
 }
.padding-top-20p{
    padding-top:20px;
}
.item h2.margin-left-140px{
    margin-left: 140px;
}
.margin-left-15p{
    margin-left: 15px;
}
.col-offset-40{
    margin-left: 40%;
}
.col-offset-45{
    margin-left: 45%;
}
.col-offset-30{
    margin-left: 30%;
}
.platform-ios.platform-cordova:not(.fullscreen) .has-tabs-top {
    top: 0px;
}
.myMenu_img{
    position: absolute;
    top: 2px;
    left: 16px;
    max-width: 120px;
    max-height: 90px;
    width: 100%;
}
.ion-ios7-heart-outline.sc {
    font-size:32px;
}
.sc.price{
    position: absolute;
    right: 20px;
    bottom: 10px;
    /*background-color: #ff6666;*/
    padding: 5px;
}
.shop_cnt{
    position: absolute;
    right: 43%;
    bottom: 10px;
    padding: 5px;
}
.right-51{
    right: 51%;
}
.right-35{
    right: 35%;
}
.shop_cnt-icon{
    border: solid #ff6666 1px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 8px;
    display: inline-block;
    top: 16px;
    text-align: center;
}
.login-back{
    background:url("../images/login.png");
    height:100%
}
.getPosition{
    background:url("../images/getPosition.png");
    height:100%;
    background-size: 100% 100%;
}
.position-absolute{
    position:absolute;
}
.login > .scroll{
    height:100%;
    /*background-color: #fff;*/
}
.bgcolor-ff6666{
    background-color: #FF6666;
}
.color-ff6666{
    color: #FF6666;
}
.orange{
    color:orange;
}
.bgcolor-gray{
    background-color: gray;
}
.bgcolor-eee{
    background-color: #eee;
}
.bgcolor-white{
    background-color: #fff;
}
.white{
    color:#FFFFFF;
}
.red{
    color:red;
}
.float-left{
    float:left;
}
.float-right{
    float:right;
}
.line-height-40p{
    line-height: 40px;
}
.payOrder{
    position: relative;
    float: right;
    margin-top: -22%;
}
.text-center{
    text-align: center;
}
.margin-top-100{
    margin-top: 100%;
}
.width-20{
    width:20%;
}
.width-30{
    width:30%;
}
.width-40{
    width:40%;
}
.width-60{
    width:60%;
}
.width-40p{
    width:40px;
}
.width-80p{
    width:80px;
}
.height-50{
    height:50%;
}
.height-100{
    height:100%;
}
.ui-heart:before{
    font-size: 18px;
}

#product-list-tabs > .tab-nav.tabs{
    border: solid 1px #FF6666;
    color: #000000;
    top: 67px;
    margin-left: 5%;
    padding-top: 0;
    background-position: bottom;
    background-color: #FFFFFF;
    background-size: 100% 1px;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    z-index: 5;
    width: 90%;
    height: 26px;
    border-style: solid;
    line-height: 44px;
    background-image: linear-gradient(0deg, #ff6666, #ff6666 50%, transparent 50%);
    border-color: #ff6666;
}
#product-list-tabs > .tab-nav.tabs > a{
    border-right-width: 1px;
    border-right-color: #FF6666;
    border-style: solid;
}
#product-list-tabs > .tab-nav.tabs > a{
    flex: 1;
    display: block;
    overflow: hidden;
    max-width: 150px;
    height: 100%;
    color: inherit;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    font-size: 14px;
    font-family: "Helvetica Neue", "Roboto", sans-serif;
    opacity: 0.7;
    outline: 0;
}
#product-list-tabs > .tab-nav.tabs > a > span{
    display: block;
    margin-top: -10px;
}
#product-list-tabs .pane.tab-content{
    background-color: #eee;
}
#product-list-tabs .pane.tab-content.bgcolor-white{
    background-color: #fff;
}
.tab-item-active{
    background-color: #ee3333;
}
.itembuttom{
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    padding: 0px 16px;
}
.width-50p{
    width: 50px;
}
.text-right{
    text-align: right;
}
.item-complex.item-icon-right .item-content {
    /*height: 80px;*/
    background-color: rgb(255, 255, 255);
}
.item-complex.item-icon-right.activated > .item-content {
    /*height: 80px;*/
    background-color: #D9D9D9;
}
.item-complex.item-icon-right.activated {
    border-color: #ccc;
    background-color: #D9D9D9;
}
.button-assertive.updateAddr{
    border-color: #e42012;
    background-color: #ef473a;
    color: #fff;
    border-right-color: #eee;
    border-right-style: solid;
    border-right-width: 1px;
}
.payway{
    float: right;
    font-size: 85%;
    margin-top: 3px;
}
.padding-urb-0p{
    padding-bottom: 0px;
    padding-right: 0px;
    padding-top: 0px;
}
.orderInfo.activated{
    background-color: #D9D9D9;
}
.orderInfo-detail-address{
    display: block;
    margin-left: 24%;
}
.ribbon {
    position: absolute;
    width: 80px;
    height: 91px;
    margin-top: 0;
    margin-left: 0;
    background-image: url(../images/priceback_2.png);
}
.ribbon2 {
    background-image: url(../images/priceback.png);
}

.ribbon .text, .ribbon .banner, .ribbon a {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
.ribbon .banner {
    -webkit-transform: rotate(-47deg);
    -ms-transform: rotate(-47deg);
    transform: rotate(-47deg);
    color: #fff;
    display: block;
    float: left;
    position: relative;
    top: 14px;
    left: -20px;
    width: 100px;
}
.ribbon .text, .ribbon .banner, .ribbon a {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
.ribbon .text {
    position: relative;
    z-index: 2;
    /*padding: 6px 0;*/
    min-height: 18px;
    line-height: 18px;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}
.border-720606{
    border: solid #720606 3px;
}
.bgcolor-720606{
    background-color: #720606;
}
.border-gray {
    border: solid gray 1px;
}
.food-tagname{
    position: relative;
    top: -23px;
    z-index: 99;
    left: 6px;
    display: block;
    border: solid #fff 1px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 18px;
}
.padding-left-33{
    padding-left: 33%;
    text-align: left;
}
.padding-left-10{
    padding-left:10%;
}
.padding-bottom-20p{
    padding-bottom: 20px;
    display: block;
}
.padding-top-20p{
    padding-top: 20px;
    display: block;
}
.text-indent-1em{
    text-indent: 1em;
}
.padding-left-1em{
    padding-left: 1em;
}
.dinnerTime{
    display: block;
    height: 35px;
    line-height: 35px;
    color:#fff;
    border: solid gray 1px;
}
.icon-location{
    position: absolute;
    right: 20px;
    top: 32px;
    font-size: 28px;
    display: block;
    width: 40px;
    text-align: center;
}
.font-size-20p {
    font-size:20px;
}
.reGetPosition{
    position: absolute;
    bottom: 20px;
    left: 20px;
}
/** end-jack **/


.junitem{
    border-color: #ddd;
    background-color: #fff;
    color: #444;
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    padding: 16px;
    border-width: 1px;
    border-style: solid;
    font-size: 16px;
    text-decoration: none;
}


.junpic{
    width: 300px;/*元素的宽度*/
    height:300px;/*元素的高度*/
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    box-shadow:0px 0px 20px 1px #000;
}


.imgBtn{
    width:40px; height:40px; border:0; position: absolute; bottom: 10px; left:10px;
}

.imgBtn1Open{
    -webkit-animation:topMenu 0.5s linear; -webkit-animation-fill-mode:forwards;
}
.imgBtn2Open{
    -webkit-animation:rightMenu 0.5s linear; -webkit-animation-fill-mode:forwards;
}
.imgBtn3Open{
    -webkit-animation:bottomMenu 0.5s linear; -webkit-animation-fill-mode:forwards;
}


.imgBtn1Close{
    -webkit-animation:topCloseMenu 0.5s linear; -webkit-animation-fill-mode:forwards;
}
.imgBtn2Close{
    -webkit-animation:rightCloseMenu 0.5s linear; -webkit-animation-fill-mode:forwards;
}
.imgBtn3Close{
    -webkit-animation:bottomCloseMenu 0.5s linear; -webkit-animation-fill-mode:forwards;
}

@-webkit-keyframes topMenu /* Safari and Chrome */
{
    0%   {bottom:10px; -webkit-transform: rotate(0deg);}
    25%  {bottom:30px; -webkit-transform: rotate(90deg);}
    50%  {bottom:50px; -webkit-transform: rotate(180deg);}
    75%  {bottom:70px; -webkit-transform: rotate(270deg);}
    100% {bottom:90px; -webkit-transform: rotate(360deg);}
}

@-webkit-keyframes rightMenu /* Safari and Chrome */
{
    0%   {bottom:10px; left:10px; -webkit-transform: rotate(0deg);}
    25%  {bottom:25px; left:25px; -webkit-transform: rotate(90deg);}
    50%  {bottom:40px; left:40px; -webkit-transform: rotate(180deg);}
    75%  {bottom:65px; left:65px; -webkit-transform: rotate(270deg);}
    100% {bottom:80px; left:80px; -webkit-transform: rotate(360deg);}
}

@-webkit-keyframes bottomMenu /* Safari and Chrome */
{
    0%   {left:10px; -webkit-transform: rotate(0deg);}
    25%  {left:30px; -webkit-transform: rotate(90deg);}
    50%  {left:50px; -webkit-transform: rotate(180deg);}
    75%  {left:70px; -webkit-transform: rotate(270deg);}
    100% {left:90px; -webkit-transform: rotate(360deg);}
}

@-webkit-keyframes topCloseMenu /* Safari and Chrome */
{
    0%   {bottom:90px; -webkit-transform: rotate(0deg);}
    25%  {bottom:70px; -webkit-transform: rotate(90deg);}
    50%  {bottom:50px; -webkit-transform: rotate(180deg);}
    75%  {bottom:30px; -webkit-transform: rotate(270deg);}
    100% {bottom:10px; -webkit-transform: rotate(360deg);}
}

@-webkit-keyframes rightCloseMenu /* Safari and Chrome */
{
    0%   {bottom:80px; left:80px; -webkit-transform: rotate(0deg);}
    25%  {bottom:65px; left:65px; -webkit-transform: rotate(90deg);}
    50%  {bottom:40px; left:40px; -webkit-transform: rotate(180deg);}
    75%  {bottom:25px; left:25px; -webkit-transform: rotate(270deg);}
    100% {bottom:10px; left:10px; -webkit-transform: rotate(360deg);}
}

@-webkit-keyframes bottomCloseMenu /* Safari and Chrome */
{
    0%   {left:90px; -webkit-transform: rotate(0deg);}
    25%  {left:70px; -webkit-transform: rotate(90deg);}
    50%  {left:50px; -webkit-transform: rotate(180deg);}
    75%  {left:30px; -webkit-transform: rotate(270deg);}
    100% {left:10px; -webkit-transform: rotate(360deg);}
}

